/****************************************************************
* Copyright [2021] [FPT University]          
*                                                             
* This file create by [Hoang Lam]                                 
* If you want to use this file in your project,                
* please contact to <https://www.facebook.com/hoanglammaster> 
* or <hoanglammaster@gmail.com>          
* Do not use without permission                                
*                                                             
* “All I know is that I do not know anything”― Socrates      
*****************************************************************/
/* 
    Created on : Jul 10, 2021, 9:24:55 PM
    Author     : Hoang Lam
*/


.table__container--center{
    width: 60%;
    margin: auto;
}
.table__container--center>table{
    border-collapse: collapse;
    width: 100%; 
    border: 1.5px solid rgba(10,10,10,0.5);
}
.table__container--center>table>tbody{
    font-family: system-ui;
}
.table__container td{
    border: 1px solid rgba(10,10,10,0.5);
    text-align: left;
    padding-left: 15px;
}
.table__container--center>table>tbody>tr{
    height: 50px;
}
.table__header>th{
    font-weight: 400;
    border: 1px solid rgba(120,120,120,0.3);
}

.table__title{
    text-align: left;
    font-size: 30px;
    font-weight: 400;
    color: rgb(0,0,255);
    margin-bottom: 15px;
}
.table__header{
    background: rgb(92,92,95);
    background: linear-gradient(180deg, rgb(255 255 255) 25%, rgba(220,220,220) 105%, rgb(246 244 244) 250%);
}
.table__container>td:first-child{
    vertical-align: text-top;
    padding-top: 5px;
}

.table__button--white{
    background-color: rgb(255,255,255);
    border: none;
}