/****************************************************************
* Copyright [2021] [FPT University]          
*                                                             
* This file create by [Hoang Lam]                                 
* If you want to use this file in your project,                
* please contact to <https://www.facebook.com/hoanglammaster> 
* or <hoanglammaster@gmail.com>          
* Do not use without permission                                
*                                                             
* “All I know is that I do not know anything”― Socrates      
*****************************************************************/
/* 
    Created on : Jul 11, 2021, 10:16:22 AM
    Author     : Hoang Lam
*/

input[type=text], [type=password]{
    width: 15%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form__title--big>h3{
    margin: 0 0 15px 0;
}
.form__title--small{
    font-size: 15px;
    margin-bottom: 20px;
}
.form__button--login{
    width: 80px;
    font-family: sans-serif;
    margin-bottom: 5px;
}
